# Large data files - DO NOT COMMIT
data/raw/*.parquet
results/predictions/*.parquet

# Python runtime elements
__pycache__/
*.pyc

# IDEs & Environments
.env
.idea/
.vscode/

# Build artifacts
*.egg-info/
dist/
build/

# Explicitly KEEP empty directory layouts via ! override
!data/raw/.gitkeep
!results/**/.gitkeep
